.video {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .swiper {
    width: 100%;
    padding-bottom: 50px;

    @include responsive(D) {
      max-width: rem(1136);
    }
  }

  .swiper-slide {
    position: relative;
    padding-top: 25px;
    width: vw(260);
    height: vw(146);

    @include responsive(D) {
      max-width: rem(792);
      max-height: rem(470);
    }

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  .video-button {
    display: flex;
    justify-content: flex-end;
    padding: rem(24) rem(8);
    gap: rem(8);

    &-prev,
    &-next {
      width: rem(32);
      height: rem(32);
      border-radius: rem(48);
      background-color: $blue-light;
      color: $blue-main !important;
      border: rem(1) solid $white;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: rgba($white, 0.3);
      }

      &.swiper-button-disabled {
        opacity: 0.4;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &-prev {
      @include bg("ico_chevron-left.svg", center);
      background-size: 60%;
    }

    &-next {
      @include bg("ico_chevron-right.svg", center);
      background-size: 60%;
    }
  }

  .swiper-pagination-bullet {
    width: rem(16);
    height: rem(2);
    background-color: $blue-light;
    margin: 0 rem(4) !important;
    border-radius: rem(16);
  }

  .swiper-pagination-bullet-active {
    background-color: $blue-main;
  }
}
