.section-title {
  @include h2;
  text-align: right;
  margin-top: rem(60);
  margin-right: rem(12);
  color: #7b9ca5;
  text-shadow: rem(-1) 0 $white, 0 rem(1) $white, rem(1) 0 $white,
    0 rem(-1) $white;
  font-family: "GangwonEduPowerExtraBoldA";

  @include responsive(D) {
    @include h1;
  }
}
