@mixin h1 {
  font-size: rem(64);
  font-weight: 700;
  line-height: rem(76);
}

@mixin h2 {
  font-weight: 700;
  font-size: rem(36);
  line-height: rem(44);
}

@mixin h3 {
  font-weight: 700;
  font-size: rem(28);
  line-height: rem(36);
}

@mixin h4 {
  font-weight: 700;
  font-size: rem(20);
  line-height: rem(28);
}

@mixin b1 {
  font-size: rem(18);
  line-height: rem(28);
}

@mixin b2 {
  font-size: rem(16);
  line-height: rem(24);
}

@mixin b3 {
  font-size: rem(14);
  line-height: rem(20);
}

@mixin b4 {
  font-size: rem(12);
  line-height: rem(16);
}
